.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container > * {
    margin: 10px 0;
}

#quizForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#quizForm input[type="radio"] {
    margin: 0 5px;
}

#send,
#answerButton {
    background-color: #6a8efb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send:hover,
#answerButton:hover {
    background-color: #4e6cd2;
}

#send,
#nextButton {
    background-color: #6a8efb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
  margin: 0 auto;

}

#send:hover,
#nextButton:hover {
    background-color: #4e6cd2;
}

.centered-text {
    text-align: center;
  }
  
  #send,
  #showresultButton {
      background-color: #6a8efb;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: block;
    margin: 0 auto;
  
  }
  
  #send:hover,
  #showresultButton:hover {
      background-color: #4e6cd2;
  }

  #home{
    background-color: #ff514e;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: block;
    margin: 0 auto;
  }

  #home:hover {
    background-color: #d54846;
}

body {
    margin: 0;
    padding: 0;
    background: #f4eed6;
  }
  
header {
    background-color: #6a8efb;
    color: #000000;
    padding: 10px;
}

